<div class="card mb-3">
  <%= cl_image_tag @location.image, :class=>"card-img-top" %>
    <div class="card-body">
    <h1 class="card-title"><%= @location.name %></h1>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">More event in this area</h5>
      <% @location.events.each do |event| %>
        <%= link_to cl_image_tag(event.image, :class => 'img-fluid img-thumbnail rounded img-event-in-location'), event %>
      <% end %>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <div class="controls">
      <%= link_to "Localocation", edit_location_path(@location), :class => "breadcrumb-item" %>
      <%= link_to "Delete location", @location, :method => 'delete', :class => "breadcrumb-item active", :data => {:confirm => 'Are you sure?'} %>
    </div>
  </ol>
</nav>
