<!DOCTYPE html>
<html>
  <head>
    <title>Project01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'All Events', events_path %>
      <%= link_to 'New Event', new_event_path %>
      |
      <%= link_to 'All Locatons', locations_path %>
      <%= link_to 'New Location', new_location_path %>
    </nav>
    <%= yield %>
  </body>
</html>
